<div class="header">
    <div class="back-btn">
        <a href="/home">Home</a>
    </div>
    <div class="rm-title">
        <h1>Room {{roomName}}</h1>
    </div>
    <div class="invis">
        <a href="/home">Home</a>
    </div>
</div>

<div class="room-container">
  

    <div class="input-div">
        <form action="/sendMessage" method="POST">
            <input type="hidden" name="roomId" value="{{roomName}}">
            <textarea name="text" placeholder="Enter your message" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>

    {{#each messages}}
        <div class="message-cont">
            <div class="comment-cont">
                <div class="user_date">
                    <strong>{{nickname}}</strong> {{timestamp}}
                    <div>
                        <form action='/editMessage' method="PUT" style="display:inline;">
                            <input type="hidden" name="msgID" value="{{_id}} ">
                            <input type="hidden" name="nickname" value="{{roomId}}">
                            
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/deleteMessage/{{_id}}" method="DELETE" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
                <div>
                    <em class="comment">{{text}}</em>
                </div>
            </div>
        </div>
    {{/each}}
</div>
